@use './variables';


.container{
    background-color: white;
    box-shadow: var(--shadow);
    color: var(--text-color);
    border-radius: 8px;
    .info{
        padding: 1rem;
        span{
            color: lightgray;
            margin-bottom: 1rem;
        }
        h4{
            font-size: 1.3rem;
            margin: 0.5rem 0;
        }
        .stars{
            color: var(--accent-color);
        }
        p{
            margin-top: 0.8rem;
        }
    }
    h3{
        padding: 1rem;
    }
    img{
        width: 100%;
    }
    .dates{
        padding: 1rem;
        hr{
            border: 0.1px solid lightgray;
            margin: 1.5rem 0;
        }
        .check{
            display: flex;
            justify-content: space-between;
        }
    }
    .btnContainer{
        display: flex;
        justify-content: center;
        .btn{
            margin: 1rem;
            padding: 0.5rem 5rem;
            border-radius: 6px;
            background-color: var(--accent-color);
            border: none;
            color: white;
            font-weight: bold;
        }
    }
}
/*-------------------Media queries TABLET--------------------*/
@media (max-width: 768px){
    .card{
        display: flex;
        .img img{
            border-radius: 8px;
            height: 100%;
        }
        .img{
            flex: 1 0 50%;
            margin: 0 0 0.5rem 0.5rem; 
        }
        .text{
            flex: 1 0 50%;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            height: 100%;  
            .info{
                padding: 0 1rem; 
                span{
                    margin-bottom: 0;
                }
                h4{
                    margin: 0;
                }
            }
            .dates{
                padding: 0 1rem;
                hr{
                    margin: 0.6rem 0;
                }
            }
            .btnContainer .btn{
                padding: 0.8rem 6.5rem;
            }    
            
        }
    }
}

/*-------------------Media queries MOBILE--------------------*/
@media (max-width: 630px){
    .card{
        flex-direction: column;
        .img{
            margin: 0.5rem; 
        }
    }
}
