@use './variables';

.container{
    //width: 50vw;
    padding: 10px 20px;
    margin-top: 15px; 
    position: relative;
    z-index: -999;
    
}
.daysContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: row;
}
.rmdp-top-class{
    justify-content: center;
}


@media (max-width: 570px){
    .container{
       min-width: 265px;
       
    }
}
