@use './variables';

.categoriesBlock{
    width: 95%;
    margin: 0 auto;
    .categoriesContainer{
        display: flex;
        justify-content: space-between;
    }
    h2{
        color: var(--text-color);
    }
}
