@use './variables';

.categoriesBlock{
    padding: 1.5rem 0;
    width: 95%;
    margin: 0 auto;
    .categoriesContainer{
        display: flex;
        justify-content: space-between;
    }
    h2{
        margin-bottom: 1rem;
        color: var(--text-color);
    }
}

@media (max-width: 768px){
    .categoriesBlock{
        width: 90%;
        .categoriesContainer{
            flex-wrap: wrap;
        }
    }    
}
@media (max-width: 426px){
    .categoriesContainer{
        flex-direction: column;
    }
}
