@use './variables';



.header{
    background-color:var(--background-color);
    display: flex;
    justify-content: space-between;
    height: 80px;
    .menu{
        display: none;
    }
    .container{
        display: flex;
        margin:15px 40px 15px 40px;
        gap: 0.5rem;
        .link{
            font-family: var(--typography);
            font-style: italic;
            text-decoration: none;
            color: var(--text-color);
        }
        .logginButton{
            height: 40px;
            width: 12rem;
            background-color: var(--background-color);
            border: 2px solid;
            border-radius: 5px;
            border-color: var(--accent-color);
            font-family: var(--typography);
            font-weight: 700;
            color: var(--accent-color);
        }

    }
}

@media (max-width: 768px){
    .container{
        p{
            display: none;
        }
    }
}


@media (max-width: 425px){
    .logginButton{
        display: none;
    }
    .header{
        .menu{
            display: block;
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 1.5rem;
            color: var(--text-color);
        }
        img{
            margin: 0 -1rem;
        }
    }
}

